---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/stories/25655/creators?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 4019c24439b71e8186dd894d057db4210eb65754
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"4019c24439b71e8186dd894d057db4210eb65754","data":{"offset":0,"limit":20,"total":1,"count":1,"results":[{"id":13970,"firstName":"#O","middleName":"","lastName":"","suffix":"","fullName":"#O","modified":"2019-12-11T17:10:07-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/creators/13970","comics":{"available":4,"collectionURI":"http://gateway.marvel.com/v1/public/creators/13970/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/8546","name":"Earth
          X (1999)"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/10492","name":"Paradise
          X (2002)"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/15902","name":"Paradise
          X Vol. 1 (Trade Paperback)"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/11914","name":"Universe
          X (2000)"}],"returned":4},"series":{"available":4,"collectionURI":"http://gateway.marvel.com/v1/public/creators/13970/series","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/series/378","name":"Earth
          X (1999 - 2000)"},{"resourceURI":"http://gateway.marvel.com/v1/public/series/2059","name":"Paradise
          X (2002 - 2003)"},{"resourceURI":"http://gateway.marvel.com/v1/public/series/2431","name":"Paradise
          X Vol. 1 (2007)"},{"resourceURI":"http://gateway.marvel.com/v1/public/series/2085","name":"Universe
          X (2000 - 2001)"}],"returned":4},"stories":{"available":3,"collectionURI":"http://gateway.marvel.com/v1/public/creators/13970/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/25655","name":"interior","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/26016","name":"Paradise
          X Issue 0","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/26318","name":"interior
          Earth X #O","type":"interiorStory"}],"returned":3},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/creators/13970/events","items":[],"returned":0},"urls":[{"type":"detail","url":"http://marvel.com/comics/creators/13970/o?utm_campaign=apiRef&utm_source=abcd"}]}]}}'
    recorded_at: Thu, 09 Mar 2023 00:00:00 GMT
recorded_with: VCR 6.1.0
