---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/stories/30/comics?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - dee37f4b198fe72c7acdf617b3591b0b2c72fcfb
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"dee37f4b198fe72c7acdf617b3591b0b2c72fcfb","data":{"offset":0,"limit":20,"total":1,"count":1,"results":[{"id":965,"digitalId":0,"title":"Essential
          Incredible Hulk Vol. II (Trade Paperback)","issueNumber":0,"variantDescription":"","description":"The
          second volume containing the Hulk''s early adventures with appearances by
          the Sub-Mariner, the Mandarin, Ka-Zar and Nick Fury.","modified":"-0001-11-30T00:00:00-0500","isbn":"0-7851-0795-9","upc":"","diamondCode":"","ean":"","issn":"","format":"Trade
          Paperback","pageCount":528,"textObjects":[{"type":"issue_solicit_text","language":"en-us","text":"The
          second volume containing the Hulk''s early adventures with appearances by
          the Sub-Mariner, the Mandarin, Ka-Zar and Nick Fury."}],"resourceURI":"http://gateway.marvel.com/v1/public/comics/965","urls":[{"type":"detail","url":"http://marvel.com/comics/collection/965/essential_incredible_hulk_vol_ii_trade_paperback?utm_campaign=apiRef&utm_source=abcd"}],"series":{"resourceURI":"http://gateway.marvel.com/v1/public/series/29","name":"Essential
          Incredible Hulk Vol. II (1999)"},"variants":[],"collections":[],"collectedIssues":[],"dates":[{"type":"onsaleDate","date":"1999-11-30T00:00:00-0500"},{"type":"focDate","date":"-0001-11-30T00:00:00-0500"}],"prices":[{"type":"printPrice","price":9.99}],"thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/9/10/4bc66f4b0e505","extension":"jpg"},"images":[{"path":"http://i.annihil.us/u/prod/marvel/i/mg/9/10/4bc66f4b0e505","extension":"jpg"}],"creators":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/comics/965/creators","items":[],"returned":0},"characters":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/comics/965/characters","items":[],"returned":0},"stories":{"available":2,"collectionURI":"http://gateway.marvel.com/v1/public/comics/965/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/30","name":"The
          second volume containing the Hulk''s early adventures with appearances by
          the Sub-Mariner, the Mandarin, Ka-Zar and Nick Fury","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/65107","name":"ESSENTIAL
          INCREDIBLE HULK VOL. II TPB 0 cover","type":"cover"}],"returned":2},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/comics/965/events","items":[],"returned":0}}]}}'
    recorded_at: Thu, 09 Mar 2023 00:00:00 GMT
recorded_with: VCR 6.1.0
