---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/stories/1315/characters?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - "08d0bd4357f7f59313b372124d478738716d5ec7"
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"08d0bd4357f7f59313b372124d478738716d5ec7","data":{"offset":0,"limit":20,"total":5,"count":5,"results":[{"id":1010916,"name":"Carnage
          (Ultimate)","description":"","modified":"1969-12-31T19:00:00-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/3/00/4c003571c756c","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/characters/1010916","comics":{"available":7,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1010916/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/600","name":"Ultimate
          Spider-Man (2000) #62"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/538","name":"Ultimate
          Spider-Man (2000) #63"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/759","name":"Ultimate
          Spider-Man (2000) #64"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/5218","name":"Ultimate
          Spider-Man (2000) #101"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/5374","name":"Ultimate
          Spider-Man (2000) #102"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/22","name":"Ultimate
          Spider-Man Vol. 11: Carnage (Trade Paperback)"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/16199","name":"Ultimate
          Spider-Man Vol. 17: Clone Saga (Trade Paperback)"}],"returned":7},"series":{"available":3,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1010916/series","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/series/466","name":"Ultimate
          Spider-Man (2000 - 2009)"},{"resourceURI":"http://gateway.marvel.com/v1/public/series/1221","name":"Ultimate
          Spider-Man Vol. 11: Carnage (2004)"},{"resourceURI":"http://gateway.marvel.com/v1/public/series/2692","name":"Ultimate
          Spider-Man Vol. 17: Clone Saga (2007)"}],"returned":3},"stories":{"available":9,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1010916/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/1314","name":"Ultimate
          Spider-Man (2000) #63","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/1315","name":"Interior
          #1315","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/1316","name":"Ultimate
          Spider-Man (2000) #62","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/1317","name":"Interior
          #1317","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/1326","name":"Ultimate
          Spider-Man (2000) #64","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/1327","name":"Interior
          #1327","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/1398","name":"Ultimate
          Spider-Man (2000) #101","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/1399","name":"5
          of ? - The Clone Saga","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/1401","name":"6
          of ? - The Clone Saga","type":"interiorStory"}],"returned":9},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1010916/events","items":[],"returned":0},"urls":[{"type":"detail","url":"http://marvel.com/characters/397/carnage?utm_campaign=apiRef&utm_source=abcd"},{"type":"wiki","url":"http://marvel.com/universe/Carnage_%28Ultimate%29?utm_campaign=apiRef&utm_source=abcd"},{"type":"comiclink","url":"http://marvel.com/comics/characters/1010916/carnage_ultimate?utm_campaign=apiRef&utm_source=abcd"}]},{"id":1009244,"name":"Curt
          Conners","description":"","modified":"1969-12-31T19:00:00-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_availa[...]
