---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/stories/11?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - e9afd2f48c26b4a87f7b388df207ffe80387e606
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"e9afd2f48c26b4a87f7b388df207ffe80387e606","data":{"offset":0,"limit":20,"total":1,"count":1,"results":[{"id":11,"title":"Interior
          #11","description":"","resourceURI":"http://gateway.marvel.com/v1/public/stories/11","type":"story","modified":"1969-12-31T19:00:00-0500","thumbnail":null,"creators":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/stories/11/creators","items":[],"returned":0},"characters":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/stories/11/characters","items":[],"returned":0},"series":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/stories/11/series","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/series/10","name":"Captain
          Britain Vol. I (1999)"}],"returned":1},"comics":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/stories/11/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/945","name":"Captain
          Britain Vol. I (Trade Paperback)"}],"returned":1},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/stories/11/events","items":[],"returned":0},"originalIssue":{"resourceURI":"http://gateway.marvel.com/v1/public/comics/945","name":"Captain
          Britain Vol. I (Trade Paperback)"}}]}}'
    recorded_at: Thu, 09 Mar 2023 00:00:00 GMT
recorded_with: VCR 6.1.0
