---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/creators/8098/comics?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - f8ca2905ae5e0b793af6fb03c701be717f0345f1
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"f8ca2905ae5e0b793af6fb03c701be717f0345f1","data":{"offset":0,"limit":20,"total":23,"count":20,"results":[{"id":71398,"digitalId":52607,"title":"Spider-Gwen:
          Ghost-Spider Vol. 2 - Impossible Year (Trade Paperback)","issueNumber":0,"variantDescription":"","description":null,"modified":"2019-09-03T09:42:20-0400","isbn":"978-1-302-91477-6","upc":"","diamondCode":"JUN191055","ean":"9781302
          914776 51799","issn":"","format":"Trade Paperback","pageCount":136,"textObjects":[],"resourceURI":"http://gateway.marvel.com/v1/public/comics/71398","urls":[{"type":"detail","url":"http://marvel.com/comics/collection/71398/spider-gwen_ghost-spider_vol_2_-_impossible_year_trade_paperback?utm_campaign=apiRef&utm_source=abcd"},{"type":"purchase","url":"http://comicstore.marvel.com/SPIDER-GWEN-GHOST-SPIDER-VOL-2-IMPOSSIBLE-YEAR-TPB-0/digital-comic/52607?utm_campaign=apiRef&utm_source=abcd"},{"type":"reader","url":"http://marvel.com/digitalcomics/view.htm?iid=52607&utm_campaign=apiRef&utm_source=abcd"}],"series":{"resourceURI":"http://gateway.marvel.com/v1/public/series/26022","name":"Spider-Gwen:
          Ghost-Spider Vol. 2 - Impossible Year (2019)"},"variants":[],"collections":[],"collectedIssues":[],"dates":[{"type":"onsaleDate","date":"2019-09-04T00:00:00-0400"},{"type":"focDate","date":"2019-07-15T00:00:00-0400"},{"type":"unlimitedDate","date":"2019-10-10T12:17:00-0400"},{"type":"digitalPurchaseDate","date":"2019-10-10T12:17:00-0400"}],"prices":[{"type":"printPrice","price":17.99}],"thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/5/f0/5d66a13030c9e","extension":"jpg"},"images":[{"path":"http://i.annihil.us/u/prod/marvel/i/mg/5/f0/5d66a13030c9e","extension":"jpg"}],"creators":{"available":4,"collectionURI":"http://gateway.marvel.com/v1/public/comics/71398/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/8098","name":"Bengal","role":"penciller
          (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/13556","name":"Seanan
          Mcguire","role":"writer"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/495","name":"Takeshi
          Miyazawa","role":"penciller"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/4430","name":"Jeff
          Youngquist","role":"editor"}],"returned":4},"characters":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/comics/71398/characters","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1017603","name":"Spider-Gwen
          (Gwen Stacy)"}],"returned":1},"stories":{"available":2,"collectionURI":"http://gateway.marvel.com/v1/public/comics/71398/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/158772","name":"cover
          from SPIDER-GWEN VOL. 2 TPB (2019) #2","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/158773","name":"story
          from SPIDER-GWEN VOL. 2 TPB (2019) #2","type":"interiorStory"}],"returned":2},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/comics/71398/events","items":[],"returned":0}},{"id":65726,"digitalId":0,"title":"Spider-Gwen
          Vol. 2 (Hardcover)","issueNumber":0,"variantDescription":"","description":"Gwen
          Stacy has lost her spider-powers - making this a very bad time to find herself
          in Frank Castle''s crosshairs! So when the Mary Janes head to a haunted house,
          is Gwen along for the fun, or will she be one of the ghosts? Thanksgiving
          should be a happy time with friends and family - unless crime lord Matt Murdock
          and his ninjas crash the party! Is it time for Gwen to put a stop to the Kingpin
          of Crime, or does Matt have a thing or two to teach her? Next, the Mary Janes
          get loud, and Gwen spends some time with her ever-expanding social circle:
          Captain America! She-Hulk?! Her BPFF (best pig friend forever) Spider-Ham!
          And her new body-swapping bud, the All-New Wolverine! Collecting SPIDER-GWEN
          (2015B) #7-15 and ANNUAL #1, and ALL-NEW WOLVERINE ANNUAL #1.","modified":"2017-12-18T18:24:37-0500","isbn":"978-1-302-90900-0","upc":"","diamondCode":"JUL171191","ean":"9781302
          909000 53499","issn":"","format":"Hardcover","pageCount":272,"textObjects":[{"type":"issue_solicit_text","language":"en-us","text":"Gwen
          Stacy has lost her spider-powers - making this a very bad time to find herself
          in Frank Castle''s crosshairs! So when the Mary Janes head to a haunted house,
          is Gwen along for the fun, or will she be one of the ghosts? Thanksgiving
          should be a happy time with friends and family - unless crime lord Matt Murdock
          and his ninjas crash the party! Is it time for Gwen to put a stop to the Kingpin
          of Crime, or does Matt have a thing or tw[...]
