---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/creators/8098/series?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - b98a111f35d43c080ed14d048d9fc5fbdc971f77
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"b98a111f35d43c080ed14d048d9fc5fbdc971f77","data":{"offset":0,"limit":20,"total":9,"count":9,"results":[{"id":20682,"title":"All-New
          Wolverine (2015 - 2018)","description":null,"resourceURI":"http://gateway.marvel.com/v1/public/series/20682","urls":[{"type":"detail","url":"http://marvel.com/comics/series/20682/all-new_wolverine_2015_-_2018?utm_campaign=apiRef&utm_source=abcd"}],"startYear":2015,"endYear":2018,"rating":"","type":"","modified":"2018-08-15T12:09:14-0400","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/c/50/5a8dec75f41c0","extension":"jpg"},"creators":{"available":49,"collectionURI":"http://gateway.marvel.com/v1/public/series/20682/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/8098","name":"Bengal","role":"penciller
          (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/12208","name":"Arthur
          Adams","role":"penciller (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/8849","name":"Joyce
          Chin","role":"penciller (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/11482","name":"Jesus
          Aburtov","role":"colorist (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/12989","name":"Jordie
     [...]
