---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/creators/8098?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 0c74165f27b4e5c27d2ed8a33f837adf6d042e39
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"0c74165f27b4e5c27d2ed8a33f837adf6d042e39","data":{"offset":0,"limit":20,"total":1,"count":1,"results":[{"id":8098,"firstName":"Bengal","middleName":"","lastName":"","suffix":"","fullName":"Bengal","modified":"2016-09-12T10:46:58-0400","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/creators/8098","comics":{"available":23,"collectionURI":"http://gateway.marvel.com/v1/public/creators/8098/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/56424","name":"All-New
          Wolverine (2015) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/56430","name":"All-New
          Wolverine (2015) #2"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/56436","name":"All-New
          Wolverine (2015) #5"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/56438","name":"All-New
          Wolverine (2015) #7"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/56439","name":"All-New
          Wolverine (2015) #8"},{"r[...]
