---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/creators/8098/stories?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 92832c67e4e786dc36671540b3908de53720167b
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"92832c67e4e786dc36671540b3908de53720167b","data":{"offset":0,"limit":20,"total":25,"count":20,"results":[{"id":114397,"title":"cover
          from Avengers (2012) #34.2","description":"","resourceURI":"http://gateway.marvel.com/v1/public/stories/114397","type":"cover","modified":"2016-05-25T15:18:32-0400","thumbnail":null,"creators":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/stories/114397/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/8098","name":"Bengal","role":"penciller
          (cover)"}],"returned":1},"characters":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/stories/114397/characters","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1011307","name":"Star
          Brand"}],"returned":1},"series":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/stories/114397/series","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/series/16452","name":"Avengers
          (2012 - 2015)"}],"returned":1},"comics":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/stories/114397/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/51410","name":"Avengers
          (2012) #34.2"}],"returned":1},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/stories/114397/events","items":[],"returned":0},"originalIssue":{"resourceURI":"http://gateway.marvel.com/v1/public/comics/51410","name":"Avengers
          (2012) #34.2"}},{"id":114398,"title":"story from Avengers (2012) #34.2","description":"","resourceURI":"http://gateway.marvel.com/v1/public/stories/114398","type":"story","modified":"2015-01-05T16:15:19-0500","thumbnail":null,"creators":{"available":2,"collectionURI":"http://gateway.marvel.com/v1/public/stories/114398/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/8098","[...]
