---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/creators/4994/events?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - e2ea2b88700a765702b3630a3eff8ae91b77fd8d
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"e2ea2b88700a765702b3630a3eff8ae91b77fd8d","data":{"offset":0,"limit":20,"total":4,"count":4,"results":[{"id":314,"title":"Age
          of Ultron","description":"In a 10-issue event written by Brian Michael Bendis
          with art by Bryan Hitch, Carlos Pacheco, Brandon Peterson and more, the heroes
          of the Marvel Universe have already fallen with the robot Ultron remaking
          the world in his image. The surviving Avengers, X-Men and others must fight
          through time and space in the hope of defeating their foe by any means necessary!","resourceURI":"http://gateway.marvel.com/v1/public/events/314","urls":[{"type":"detail","url":"http://marvel.com/comics/events/314/age_of_ultron?utm_campaign=apiRef&utm_source=abcd"},{"type":"wiki","url":"http://marvel.com/universe/Age_of_Ultron?utm_campaign=apiRef&utm_source=abcd"}],"modified":"2014-03-25T15:39:52-0400","start":"2013-03-06
          00:00:00","end":"2013-06-19 00:00:00","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/c/10/51ca0fc4c83c8","extension":"jpg"},"creators":{"available":30,"collectionURI":"http://gateway.marvel.com/v1/public/events/314/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/4994","name":"Kalman
          Andrasofszky","role":"penciler (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/11748","name":"Marco
          Checchetto","role":"penciler (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/357","name":"Jim
          Cheung","role":"penciler (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/12297","name":"Andre
          Lima Araujo","role":"penciller"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/820","name":"Leonard
          Kirk","ro[...]
