---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/characters?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&limit=1&nameStartsWith=Spider&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 8dc7e68f1202b1b6067ea9f2149848581293da8b
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"8dc7e68f1202b1b6067ea9f2149848581293da8b","data":{"offset":0,"limit":1,"total":21,"count":1,"results":[{"id":1010727,"name":"Spider-dok","description":"","modified":"1969-12-31T19:00:00-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/characters/1010727","comics":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1010727/comics","items":[],"returned":0},"series":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1010727/series","items":[],"returned":0},"stories":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1010727/stories","items":[],"returned":0},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1010727/events","items":[],"returned":0},"urls":[{"type":"detail","url":"http://marvel.com/characters/2170/spider-dok?utm_campaign=apiRef&utm_source=abcd"},{"type":"comiclink","url":"http://marvel.com/comics/characters/1010727/spider-dok?utm_campaign=apiRef&utm_source=abcd"}]}]}}'
    recorded_at: Thu, 09 Mar 2023 00:00:00 GMT
recorded_with: VCR 6.1.0
