---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/comics?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&limit=1&titleStartsWith=Spider&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 0e48ba6cf1fdd16ffd9360f9fb619a47ee83805c
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"0e48ba6cf1fdd16ffd9360f9fb619a47ee83805c","data":{"offset":0,"limit":1,"total":1773,"count":1,"results":[{"id":59551,"digitalId":0,"title":"Spider-Man
          (2016) #6 (Anka Mighty Men Variant)","issueNumber":6,"variantDescription":"Anka
          Mighty Men Variant","description":null,"modified":"2016-07-21T17:22:23-0400","isbn":"","upc":"75960608314500621","diamondCode":"","ean":"","issn":"","format":"Comic","pageCount":32,"textObjects":[],"resourceURI":"http://gateway.marvel.com/v1/public/comics/59551","urls":[{"type":"detail","url":"http://marvel.com/comics/issue/59551/spider-man_2016_6_anka_mighty_men_variant/anka_mighty_men_variant?utm_campaign=apiRef&utm_source=abcd"}],"series":{"resourceURI":"http://gateway.marvel.com/v1/public/series/20508","name":"Spider-Man
          (2016 - 2018)"},"variants":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/55700","name":"Spider-Man
          (2016) #6"}],"collections":[],"collectedIssues":[],"dates":[{"type":"onsaleDate","date":"2029-12-31T00:00:00-0500"},{"type":"focDate","date":"2016-07-13T00:00:00-0400"}],"prices":[{"type":"printPrice","price":3.99}],"thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available","extension":"jpg"},"images":[{"path":"http://i.annihil.us/u/prod/marvel/i/mg/a/30/56f46483efc4f","extension":"jpg"}],"creators":{"available":2,"collectionURI":"http://gateway.marvel.com/v1/public/comics/59551/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/11575","name":"Kris
          Anka","role":"penciller (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/4300","name":"Nick
          Lowe","role":"editor"}],"returned":2},"characters":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/comics/59551/characters","items":[],"returned":0},"stories":{"available":2,"collectionURI":"http://gateway.marvel.com/v1/public/comics/59551/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/129608","name":"cover
          from Spider-Man (2016) #6 (ANKA MOP VARIANT)","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/129609","name":"story
          from Spider-Man (2016) #6 (ANKA MOP VARIANT)","type":"interiorStory"}],"returned":2},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/comics/59551/events","items":[],"returned":0}}]}}'
    recorded_at: Thu, 09 Mar 2023 00:00:00 GMT
recorded_with: VCR 6.1.0
