---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/comics/1332?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 8465730a557adc2fed3b35da98554a4f13a8bf40
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"8465730a557adc2fed3b35da98554a4f13a8bf40","data":{"offset":0,"limit":20,"total":1,"count":1,"results":[{"id":1332,"digitalId":0,"title":"X-Men:
          Days of Future Past (Trade Paperback)","issueNumber":0,"variantDescription":"","description":"\"Re-live
          the legendary first journey into the dystopian future of 2013 - where Sentinels
          stalk the Earth, and the X-Men are humanity''s only hope...until they die!
          Also featuring the first appearance of Alpha Flight, the return of the Wendigo,
          the history of the X-Men from Cyclops himself...and a demon for Christmas!?
          \"","modified":"2017-02-28T14:52:22-0500","isbn":"0-7851-1560-9","upc":"5960611560-00111","diamondCode":"","ean":"","issn":"","format":"Trade
          Paperback","pageCount":144,"textObjects":[{"type":"issue_solicit_text","language":"en-us","text":"\"Re-live
          the legendary first journey into the dystopian future of 2013 - where Sentinels
          stalk the Earth, and the X-Men are humanity''s only hope...until they die!
          Also featuring the first appearance of Alpha Flight, the return of the Wendigo,
          the history of the X-Men from Cyclops himself...and a demon for Christmas!?
          \""}],"resourceURI":"http://gateway.marvel.com/v1/public/comics/1332","urls":[{"type":"detail","url":"http://marvel.com/comics/collection/1332/x-men_days_of_future_past_trade_paperback?utm_campaign=apiRef&utm_source=abcd"}],"series":{"resourceURI":"http://gateway.marvel.com/v1/public/series/1327","name":"X-Men:
          Days of Future Past (2004)"},"variants":[],"collections":[],"collectedIssues":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/13683","name":"Uncanny
          X-Men (1963) #142"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/12460","name":"Uncanny
          X-Men (1963) #141"}],"dates":[{"type":"onsaleDate","date":"2029-12-31T00:00:00-0500"},{"type":"focDate","date":"-0001-11-30T00:00:00-0500"}],"prices":[{"type":"printPrice","price":9.99}],"thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/9/d0/58b5cfb6d5239","extension":"jpg"},"images":[{"path":"http://i.annihil.us/u/prod/marvel/i/mg/9/d0/58b5cfb6d5239","extension":"jpg"},{"path":"http://i.annihil.us/u/prod/marvel/i/mg/9/b0/4bc66463ef7f0","extension":"jpg"}],"creators":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/comics/1332/creators","items":[],"returned":0},"characters":{"available":10,"collectionURI":"http://gateway.marvel.com/v1/public/comics/1332/characters","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009159","name":"Archangel"},{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009164","name":"Avalanche"},{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009199","name":"Blob"},{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009243","name":"Colossus"},{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009271","name":"Destiny"},{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009472","name":"Nightcrawler"},{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009522","name":"Pyro"},{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009629","name":"Storm"},{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009718","name":"Wolverine"},{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009726","name":"X-Men"}],"returned":10},"stories":{"available":3,"collectionURI":"http://gateway.marvel.com/v1/public/comics/1332/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/15472","name":"Days
          of Future Past","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/27788","name":"Mind
          Out of Time!","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/65738","name":"X-MEN:
          DAYS OF FUTURE PAST TPB 0 cover","type":"cover"}],"returned":3},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/comics/1332/events","items":[],"returned":0}}]}}'
    recorded_at: Thu, 09 Mar 2023 00:00:00 GMT
recorded_with: VCR 6.1.0
