---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/comics/17701/creators?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 95ee4edd8e3fcd8416d61607b619257b3e613224
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"95ee4edd8e3fcd8416d61607b619257b3e613224","data":{"offset":0,"limit":20,"total":16,"count":16,"results":[{"id":11063,"firstName":"Terry","middleName":"Kevin","lastName":"Austin","suffix":"","fullName":"Terry
          Kevin Austin","modified":"2020-01-27T14:17:23-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/creators/11063","comics":{"available":217,"collectionURI":"http://gateway.marvel.com/v1/public/creators/11063/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/17701","name":"Age
          of Apocalypse: The Chosen (1995) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/29317","name":"ACTS
          OF VENGEANCE CROSSOVERS OMNIBUS (Hardcover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/29318","name":"ACTS
          OF VENGEANCE CROSSOVERS OMNIBUS (DM Only) (Hardcover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/66979","name":"Adventures
          of Captain America (1991) #2"},{"resourceURI":"http://gateway.marvel.com[...]
