---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/events/227/series?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 6543fc7b5c0002da0eb1e437e63ac6a318d9ded0
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"6543fc7b5c0002da0eb1e437e63ac6a318d9ded0","data":{"offset":0,"limit":20,"total":20,"count":20,"results":[{"id":3614,"title":"Age
          of Apocalypse: The Chosen (1995)","description":null,"resourceURI":"http://gateway.marvel.com/v1/public/series/3614","urls":[{"type":"detail","url":"http://marvel.com/comics/series/3614/age_of_apocalypse_the_chosen_1995?utm_campaign=apiRef&utm_source=abcd"}],"startYear":1995,"endYear":1995,"rating":"","type":"","modified":"2020-08-24T12:51:02-0400","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/2/00/4bad2bdd3c8a9","extension":"jpg"},"creators":{"available":16,"collectionURI":"http://gateway.marvel.com/v1/public/series/3614/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/11063","name":"Terry
          Kevin Austin","role":"inker"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/362","name":"Scott
          Hanna","role":"inker"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/438","name":"Karl
          Kesel","role":"inker"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/13392","name":"Sergio
          Melia-Borras","role":"inker"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/1914","name":"Dan
          Panosian","role":"inker"},{"resourceURI":"http://gatew[...]
