---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/events/227/comics?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 2f60c226062c87efbdf1f941cb5e4ef2ab4ae9bd
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"2f60c226062c87efbdf1f941cb5e4ef2ab4ae9bd","data":{"offset":0,"limit":20,"total":50,"count":20,"results":[{"id":5369,"digitalId":33992,"title":"X-Men:
          The Complete Age of Apocalypse Epic Book 4 (Trade Paperback)","issueNumber":0,"variantDescription":"","description":"Learn
          who lives and who dies in either reality as the apocalyptic arc ends in treachery
          and tragedy! While certain heroic humans prove their mettle without armor
          or magic hammers, it''s a race to see who the X-Men will destroy first: Apocalypse
          or themselves! But even with the crisis concluded, new allies and enemies
          emerge, guaranteeing that reality will still never be the same! Featuring
          the dawn of Gene Nation and a turning point for the Legacy Virus! Collects
          GENERATION NEXT #4, X-CALIBRE #4, X-MAN #4 and #53-54, FACTOR X #4, GAMBIT
          AND THE X-TERNALS #4, AMAZING X-MEN #4, WEAPON X #4, X-UNIVERSE #2, X-MEN:
          OMEGA, BLINK #4, and X-MEN: PRIME.\r<br>368 PGS./Rated T+ ...$29.99\r<br>","modified":"2017-06-16T14:34:06-0400","isbn":"0-7851-2052-1","upc":"5960612052-00111","diamondCode":"","ean":"","issn":"","format":"Trade
          Paperback","pageCount":0,"textObjects":[{"type":"issue_solicit_text","language":"en-us","text":"Learn
          who lives and who dies in either reality as the apocalyptic arc ends in treachery
          and tragedy! While certain heroic humans prove their mettle without armor
          or magic hammers, it''s a race to see who the X-Men will destroy first: Apocalypse
          or themselves! But even with the crisis concluded, new allies and enemies
          emerge, guaranteeing that reality will still never be the same! Featuring
          the dawn of Gene Nation and a turning point for the Legacy Virus! Collects
          GENERATION NEXT #4, X-CALIBRE #4, X-MAN #4 and #53-54, FACTOR X #4, GAMBIT
          AND THE X-TERNALS #4, AMAZING X-MEN #4, WEAPON X #4, X-UNIVERSE #2, X-MEN:
          OMEGA, BLINK #4, and X-MEN: PRIME.\r<br>368 PGS./Rated T+ ...$29.99\r<br>"}],"resourceURI":"http://gateway.marvel.com/v1/public/comics/5369","urls":[{"type":"detail","url":"http://marvel.com/comics/collection/5369/x-men_the_complete_age_of_apocalypse_epic_book_4_trade_paperback?utm_campaign=apiRef&utm_source=abcd"},{"type":"purchase","url":"http://comicstore.marvel.com/X-Men-The-Complete-Age-of-Apocalypse-Epic-Book-4-0/digital-comic/33992?utm_campaign=apiRef&utm_source=abcd"},{"type":"reader","url":"http://marvel.com/digitalcomics/view.htm?iid=33992&utm_campaign=apiRef&utm_source=abcd"},{"type":"inAppLink","url":"https://applink.marvel.com/issue/33992?utm_campaign=apiRef&utm_source=abcd"}],"series":{"resourceURI":"http://gateway.marvel.com/v1/public/series/1685","name":"X-Men:
          The Complete Age of Apocalypse Epic Book 4 (2006)"},"variants":[],"collections":[],"collectedIssues":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/18226","name":"X-Man
          (1995) #54"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/18225","name":"X-Man
          (1995) #53"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/12371","name":"X-Men:
          Prime (1995) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/20041","name":"Generation
          Next (1995) #4"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/17734","name":"Amazing
          X-Men (1995) #4"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/18166","name":"X-Universe
          (1995) #2"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/18256","name":"X-Calibre
          (1995) #4"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/16080","name":"Gambit
          and the X-Ternals (1995) #4"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/20047","name":"Factor
          X (1995) #4"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/18102","name":"Weapon
          X (1995) #4"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/18210","name":"X-Man
          (1995) #4"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/12370","name":"X-Men:
          Omega (1995) #1"}],"dates":[{"type":"onsaleDate","date":"2006-11-01T00:00:00-0500"},{"type":"focDate","date":"-0001-11-30T00:00:00-0500"},{"type":"unlimitedDate","date":"2014-06-05T00:00:00-0400"},{"type":"digitalPurchaseDate","date":"2014-06-05T00:00:00-0400"}],"prices":[{"type":"printPrice","price":9.99},{"type":"digitalPurchasePrice","price":24.99}],"thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/8/90/51dd89a03a03a","extension":"jpg"},"images":[{"path":"http://i.annihil.us/u/prod/marvel/i/mg/8/90/51dd89a03a03a","extension":"jpg"},{"path":"http://i.annihil.us/u/prod/marvel/i/mg/b/c0/4bc5be45d23d0","extension":"jpg"}],"creators":{"available":50,"collectionURI":"http://gateway.marvel.com/v1/public/comics/5369/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/807","name":"Comicraft","role":"letterer"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/3626","name":"Pat
          Brosseau","role":"letterer"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/452","name":"Virtual
          Calligr","role":"letterer"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/232","name":"Chris
          Bachalo","role":"penciler"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/5948","name":"Mike
          Dringenberg","role":"penciler"},{"resource[...]
