---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/events/227/creators?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 3de8054500d0ce5ed5c83e5ca6eb0c855641e895
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"3de8054500d0ce5ed5c83e5ca6eb0c855641e895","data":{"offset":0,"limit":20,"total":111,"count":20,"results":[{"id":807,"firstName":"Comicraft","middleName":"","lastName":"","suffix":"","fullName":"Comicraft","modified":"2018-07-24T15:54:47-0400","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/6/90/4bc381514ef59","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/creators/807","comics":{"available":352,"collectionURI":"http://gateway.marvel.com/v1/public/creators/807/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/17731","name":"Amazing
          X-Men (1995) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/17732","name":"Amazing
          X-Men (1995) #2"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/17733","name":"Amazing
          X-Men (1995) #3"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/17734","name":"Amazing
          X-Men (1995) #4"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/17736","name":"Astonishing
          X-Men (1995) #2"},{"resourceURI":"htt[...]
