---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/series/18454/stories?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - a8a95f344d246c2cece51987c00134f9542ef6fc
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"a8a95f344d246c2cece51987c00134f9542ef6fc","data":{"offset":0,"limit":20,"total":10,"count":10,"results":[{"id":110101,"title":"cover
          from 100th Anniversary Special (2014) #1","description":"","resourceURI":"http://gateway.marvel.com/v1/public/stories/110101","type":"cover","modified":"2014-06-23T12:09:14-0400","thumbnail":null,"creators":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/stories/110101/creators","items":[],"returned":0},"characters":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/stories/110101/characters","items":[],"returned":0},"series":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/stories/110101/series","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/series/18454","name":"100th
          Anniversary Special (2014)"}],"returned":1},"comics":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/stories/110101/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/49007","name":"100th
          Anniversary Special (2014) #1"}],"returned":1},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/stories/110101/events","items":[],"returned":0},"originalIssue":{"resourceURI":"http://gateway.marvel.com/v1/public/comics/49007","name":"100th
          Anniversary Special (2014) #1"}},{"id":110102,"title":"story from 100th Anniversary
          Special (2014) #1","description":"","resourceURI":"http://gateway.marvel.com/v1/public/stories/110102","type":"story","modified":"2014-06-23T12:10:26-0400","thumbnail":null,"creators":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/stories/110102/creators","items":[],"returned":0},"characters":{[...]
