---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/series/19244?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - ec1402081a14d15d31d078d0be9614240da337ce
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"ec1402081a14d15d31d078d0be9614240da337ce","data":{"offset":0,"limit":20,"total":1,"count":1,"results":[{"id":19244,"title":"1602
          Witch Hunter Angela (2015)","description":null,"resourceURI":"http://gateway.marvel.com/v1/public/series/19244","urls":[{"type":"detail","url":"http://marvel.com/comics/series/19244/1602_witch_hunter_angela_2015?utm_campaign=apiRef&utm_source=abcd"}],"startYear":2015,"endYear":2015,"rating":"Rated
          T+","type":"limited","modified":"2017-10-26T14:30:43-0400","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/6/60/553a60a66f2f6","extension":"jpg"},"creators":{"available":7,"collectionURI":"http://gateway.marvel.com/v1/public/series/19244/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/12441","name":"Marguerite
          Bennett","role":"writer"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/8901","name":"Kieron
          Gillen","role":"writer"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/10405","name":"John
          Tyler Christopher","role":"penciller (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/13055","name":"Richard
          Isanove","role":"penciller (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/12756","name":"Irene
          Koh","role":"penciller (cover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/10785","name":"Stephanie
          Hans","role":"artist"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/1063","name":"Frazer
          Irving","role":"artist"}],"returned":7},"characters":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/series/19244/characters","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/characters/1017574","name":"Angela
          (Aldrif Odinsdottir)"}],"returned":1},"stories":{"available":16,"collectionURI":"http://gateway.marvel.com/v1/public/series/19244/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/113973","name":"cover
          from 1602 Witch Hunter Angela (2015) #1","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/113974","name":"story
          from 1602 Witch Hunter Angela (2015) #1","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/113975","name":"cover
          fr[...]
