---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/series/2116/events?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 91e11426ff1921b7ce9860d28a645c68b8019a61
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"91e11426ff1921b7ce9860d28a645c68b8019a61","data":{"offset":0,"limit":20,"total":3,"count":3,"results":[{"id":116,"title":"Acts
          of Vengeance!","description":"Loki sets about convincing the super-villains
          of Earth to attack heroes other than those they normally fight in an attempt
          to destroy the Avengers to absolve his guilt over inadvertently creating the
          team in the first place.","resourceURI":"http://gateway.marvel.com/v1/public/events/116","urls":[{"type":"detail","url":"http://marvel.com/comics/events/116/acts_of_vengeance?utm_campaign=apiRef&utm_source=abcd"},{"type":"wiki","url":"http://marvel.com/universe/Acts_of_Vengeance!?utm_campaign=apiRef&utm_source=abcd"}],"modified":"2013-06-28T16:31:24-0400","start":"1989-12-10
          00:00:00","end":"2008-01-04 00:00:00","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/9/40/51ca10d996b8b","extension":"jpg"},"creators":{"available":102,"collectionURI":"http://gateway.marvel.com/v1/public/events/116/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/2707","name":"Jeff
          Albrecht","role":"inker"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/2077","name":"Hilary
          Barta","role":"inker"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/1277","name":"Bret
          Blevins","role":"inker"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/5823","name":"Danilo
          Bulanadi","role":"inker"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/87","name":"Mark
          Bagley","role":"penciler"},{"resourceURI":"http://gatew[...]
