---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/series/18454/comics?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 2ec2fce6b766b67a0dd983bec25f75762dadd671
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"2ec2fce6b766b67a0dd983bec25f75762dadd671","data":{"offset":0,"limit":20,"total":5,"count":5,"results":[{"id":49011,"digitalId":34160,"title":"100th
          Anniversary Special (2014) #1","issueNumber":1,"variantDescription":"","description":"Just
          in time for the release of their SEVENTH epic motion picture, the Guardians
          of the Galaxy are celebrating their 100th Anniversary...by taking on the THE
          SILVER GALACTUS!","modified":"2014-07-21T11:39:24-0400","isbn":"","upc":"75960608000700511","diamondCode":"","ean":"","issn":"","format":"Comic","pageCount":32,"textObjects":[{"type":"issue_solicit_text","language":"en-us","text":"Just
          in time for the release of their SEVENTH epic motion picture, the Guardians
          of the Galaxy are celebrating their 100th Anniversary...by taking on the THE
          SILVER GALACTUS!"}],"resourceURI":"http://gateway.marvel.com/v1/public/comics/49011","urls":[{"type":"detail","url":"http://marvel.com/comics/issue/49011/100th_anniversary_special_2014_1?utm_campaign=apiRef&utm_source=abcd"},{"type":"purchase","url":"http://comicstore.marvel.com/100th-Anniversary-Special-1/digital-comic/34160?utm_campaign=apiRef&utm_source=abcd"},{"type":"reader","url":"http://marvel.com/digitalcomics/view.htm?iid=34160&utm_campaign=apiRef&utm_source=abcd"},{"type":"inAppLink","url":"https://applink.marvel.com/issue/34160?utm_campaign=apiRef&utm_source=abcd"}],"series":{"resourceURI":"http://gateway.marvel.com/v1/public/series/18454","name":"100th
          Anniversary Special (2014)"},"variants":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/49010","name":"100th
          Anniversary Special (2014) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/49009","name":"100th
          Anniversary Special (2014) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/49008","name":"100th
          Anniversary Special (2014) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/49007","name":"100th
          Anniversary Special (2014) #1"}],"collections":[],"collectedIssues":[],"dates":[{"type":"onsaleDate","date":"2014-07-30T00:00:00-0400"},{"type":"focDate","date":"2014-07-16T00:00:00-0400"},{"type":"unlimitedDate","date":"2015-01-26T00:00:00-0500"},{"type":"digitalPurchaseDate","date":"2014-07-30T00:00:00-0400"}],"prices":[{"type":"printPrice","price":3.99},{"type":"digitalPurchasePrice","price":3.99}],"thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/9/10/53cd2c7612d2f","extension":"jpg"},"images":[{"path":"http://i.annihil.us/u/prod/marvel/i/mg/9/10/53cd2c7612d2f","extension":"jpg"},{"path":"http://i.annihil.us/u/prod/marvel/i/mg/f/b0/536d00217d190","extension":"jpg"}],"creators":{"available":2,"collectionURI":"http://gateway.marvel.com/v1/public/comics/49011/creators","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/creators/485","name":"Andy
          Lanning","role":"writer"},{"resourceURI":"http://gateway.marvel.com/v1/public/creators/12392","name":"David
          Lopez","role":"penciller (cover)"}],"returned":2},"characters":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/comics/49011/characters","items":[],"returned":0},"stories":{"available":2,"collectionURI":"http://gateway.marvel.com/v1/public/comics/49011/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/110109","name":"cover
          from 100th Anniversary Special (2014) #5","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/110110","name":"story
          from 100th Anniversary Special (2014) #5","type":"interiorStory"}],"returned":2},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/comics/49011/events","items":[],"returned":0}},{"id":49010,"digitalId":34127,"title":"100th
          Anniversary Special (2014) #1","issueNumber":1,"variantDescription":"","description":"CELEBRATE
          100 YEARS OF EARTH&#39;S MIGHTIEST HEROES &ndash; THE AVENGERS! Following
          the failed Badoon invasion of Earth and America&#39;s disappearance into the
          Negative Zone, how will the Avengers of 2061 cope?!",[...]
