---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/series/18454/creators?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 5208922e2d5b70452e8b13a04068444f00e2b19e
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"5208922e2d5b70452e8b13a04068444f00e2b19e","data":{"offset":0,"limit":20,"total":5,"count":5,"results":[{"id":485,"firstName":"Andy","middleName":"","lastName":"Lanning","suffix":"","fullName":"Andy
          Lanning","modified":"2014-11-22T15:06:57-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/6/40/4bb827ae64631","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/creators/485","comics":{"available":436,"collectionURI":"http://gateway.marvel.com/v1/public/creators/485/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/49180","name":"Marvel
          100th Anniversary (Trade Paperback)"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/49011","name":"100th
          Anniversary Special (2014) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/20824","name":"Amazing
          Spider-Man (1999) #552"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/20825","name":"Amazing
          Spider-Man (1999) #553"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/20826","name":"Amazing
      [...]
