---
http_interactions:
  - request:
      method: get
      uri: https://gateway.marvel.com/v1/public/series/454/characters?apikey=abcd&hash=a09f8647b1786ba2816888715a24ccc6&ts=1678320000
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - 8c8c3c19c6dc00ac5e6954aaabeeb0285761dbf4
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"code":200,"status":"Ok","copyright":"© 2023 MARVEL","attributionText":"Data
          provided by Marvel. © 2023 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
          provided by Marvel. © 2023 MARVEL</a>","etag":"8c8c3c19c6dc00ac5e6954aaabeeb0285761dbf4","data":{"offset":0,"limit":20,"total":147,"count":20,"results":[{"id":1009154,"name":"Annihilus","description":"","modified":"2013-11-20T17:06:36-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/5/f0/528d31f20a2f6","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009154","comics":{"available":66,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1009154/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/55364","name":"All-New,
          All-Different Avengers (2015) #11"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/4788","name":"Annihilation
          (2006) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/5230","name":"Annihilation
          (2006) #3"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/5529","name":"Annihilation
          (2006) #4"},{"resourceURI":"http://gateway.marvel.com/v1/p[...]
